[Unit]
Description=Stickerdome Telegram bot
After=network.target

[Service]
ExecStart=bash run
LogsDirectory=stickerdome
User=stickerdome
WorkingDirectory=/home/stickerdome/stickerdome/telegram-bot
Restart=on-failure

[Install]
WantedBy=multi-user.target
